# 系统密钥（用于 Session 加密）
SECRET_KEY=dev-secret-key-12345

# 数据库连接配置 (MySQL)
DATABASE_URI=mysql+pymysql://root:12345@localhost:3306/attendance_system

# 邮件服务器配置 (用于考勤预警)
SMTP_SERVER=smtp.163.com
SMTP_PORT=465
SMTP_USER=mailbox921@163.com
SMTP_PASS=TG3jwEkjFtSk2gHj
SMTP_SENDER=mailbox921@163.com

# Flask 配置
FLASK_DEBUG=False
PORT=80
